body {
  /* background-color: ; */
  min-height: 100vh;
  text-align: center;
  padding: 20px;
}

.navbar a {
  color: white;
}
.navbar-brand {
  color: white;
}

h1 {
  color: wheat;
}

.container {
  /* border: yellow 4px solid; */
  margin-top: 70px;
}

.row {
  /* border: blue 4px solid; */
  margin: 15px 0;
  padding-bottom: 20px;
  justify-content: center;
}

.card:hover {
  /* animation-name: product-card; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-title {
  border: 1px solid lightblue;
}

img {
  transition: transform 0.30s;
}

img:hover {
  transform: scale(1.07, 1.07);
}

.card-text {
  text-align: justify;
}

header {
  font-weight: bold;
}

footer {
  color: yellow;
  font-weight: bold;
  background-color: darkgray;
}

h4 {
  display: flex;
  justify-content: center;
}
