body {
  background-color: rgb(41, 33, 33);
  min-height: 100vh;
  text-align: center;
  padding: 20px;
}

h1 {
  color: wheat;
}

.container {
  border: yellow 4px solid;
}

.row {
  border: blue 4px solid;
  padding: 20px 0;
  justify-content: center;
}
