body {
  background-color: rgb(41, 33, 33);
  min-height: 100vh;
  text-align: center;
  padding: 20px;
}

h1 {
  color: wheat;
}

.container {
  /* border: yellow 4px solid; */
  margin-top: 70px;
}

.row {
  /* border: blue 4px solid; */
  margin: 15px 0;
  padding-bottom: 20px;
  justify-content: center;
}

.card-title {
  border: 1px solid lightblue;
}

.card-text {
  text-align: justify;
}

header {
  font-weight: bold;
}

footer {
  color: yellow;
  font-weight: bold;
  background-color: darkgray;
}

h4 {
  display: flex;
  justify-content: center;
}
